<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <title>博客详情</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <link rel="stylesheet" href="../static/editor.md-master/css/editormd.preview.css" />
</head>
<body> 
    <div >
        <div class="layui-row">
            <div class="layui-col-md8">
                <div class="layui-bg-blue" style="height: 60px;line-height: 60px;">
                    <p style="font-size: 25px;margin-left: 100px;">Lee's Blog</p>
                </div>
            </div>
            <div class="layui-col-md4">
                <ul class="layui-nav layui-bg-blue">
                    <li class="layui-nav-item">
                        <a href="/">首页</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="/blog/list">博客</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">留言</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">日记</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">友链</a>
                    </li>
                    <li class="layui-nav-item">
                      <a href=""><img src="../static/image/33.jpg" class="layui-nav-img">我</a>
                      <dl class="layui-nav-child">
                        <dd><a href="javascript:;">我的信息</a></dd>
                        <dd><a href="javascript:;">我的博客</a></dd>
                        <dd><a href="javascript:;">我的评论</a></dd>
                        <dd><a href="javascript:;">退出</a></dd>
                      </dl>
                    </li>
                </ul>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div style="top: 20px;">
                <blockquote class="layui-elem-quote">{{.title}}</blockquote>
                <blockquote class="layui-elem-quote">{{.kind}}</blockquote>
            </div>
            <div id="test-markdown-view">
                <textarea style="display:none;">{{.text}}</textarea>             
            </div>
            <div class="layui-footer layui-bg-blue" style="height: 70px;">
                <p style="text-align: center;line-height: 40px;">&copy; 2021 <a href="/">Lee's Blog</a></p>
                <p style="text-align: center;">
                    <a href="" target="_blank">免责声明</a>
                    <a href="" target="_blank">友链</a>
                    <a href="/public"  site-event="weixinmp">公众号</a>
                </p>
            </div>
        </div>
    </div>




	<script src="../static/layui/layui.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/editor.md-master/editormd.js"></script>
    <script src="../static/editor.md-master/lib/marked.min.js"></script>
    <script src="../static/editor.md-master/lib/prettify.min.js"></script>
    <script src="../static/js/blog/details.js"></script>
</body>
</html>