<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <title>Lee's Blog</title>
    <link href="../static/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index_style.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/animate.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="menu" class="hover_animation menu_open" data-mark="false">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="navgation" class="navgation navgation_close">
        <ul class="point">
            <li><a href="/article/list">博客</a></li>
            <li><a href="#">分类</a></li>
            <li><a href="#">归档</a></li>
            <li><a href="#">标签</a></li>
            <li><a href="#">关于</a></li>
        </ul>
        <div class="logo"><a>Lee</a></div>
    </div>
    <div class="section" id="section1">
        <div class="fp-tablecell">
            <div class="page1">
                <div class="nav wow zoomIn" data-wow-duration="2s">
                    <h1>Lee's Blog</h1>
                    <p>天行健，君子以自强不息</p>
                    <a class="layui-btn layui-btn-normal" style="margin-top: 20px" href="/article/list">博客</a>
                </div>
                <a class="next wow fadeInUp" data-wow-duration="2s" id="next"></a>
            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="fp-tablecell">
            <div class="page2">
                <div class="warp-box">
                    <div class="new-article">
                        <div class="inner wow fadeInDown" data-wow-delay=".2s">
                            <h1>博客分类</h1>
                            <p>
                                天行健
                                <br>君子以自强不息
                            </p>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="../static/image/java.jpg">
                                    <a href="#" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#">
                                            Java专栏
                                        </a>
                                    </h4>
                                    <div class="date">
                                        2020年6月16日
                                    </div>
                                    <p>
                                       本专栏主要分享Java的各种常见问题，包括java学习路线，java基础，框架，微服务，项目，面试题，希望通过这些知识的分享能够提升自己的java水平
                                    </p>
                                    <a href="#" class="btn">
                                        阅读更多 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" data-wow-delay=".2s" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="../static/image/web.jpg">
                                    <a href="#" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#">
                                           web前端专栏
                                        </a>
                                    </h4>
                                    <div class="date">
                                         2020年6月16日
                                    </div>
                                    <p>
                                        本栏目主要分享关于web前端的学习路线，基础知识，常用框架，面试题，项目等等
                                    </p>
                                    <a href="#" class="btn">
                                        阅读更多 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" data-wow-delay=".4s" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="../static/image/dedecms.jpg">
                                    <a href="#" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#">
                                            DeDeCMS专栏
                                        </a>
                                    </h4>
                                    <div class="date">
                                        2020年6月16日
                                    </div>
                                    <p>
                                       本栏目主要介绍DeDeCMS网站内容管理系统，使用dede常见的问题，常用标签，插件，提供建站帮助
                                    </p>
                                    <a href="#" class="btn">
                                        阅读更多 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="fp-tablecell">
            <div class="page3">
                <div class="warp-box">
                    <div class="warp">
                        <div class="inner">
                            <div class="links">
                                <ul>
                                    <li class="wow fadeInLeft"><a href="#">关于</a></li>
                                    <li class="wow fadeInRight"><a href="#">友情链接</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section4">
        <div class="fp-tablecell">
            <div class="page4">
                <div class="warp-box">
                    <div class="about">
                        <div class="inner">
                            <h1 class="wow fadeInLeft">Lee's Blog</h1>
                            <p class="wow fadeInRight">                         
                                   人生苦短，及时行乐
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer wow fadeInUp" id="contact">
        <div class="footer-top">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget about">
                            <div class="footer-logo">
                                <h2>Lee's Blog</h2>
                            </div>
                            <p>世界那么大，我想去看看</p>
                            <div class="button">
                                <a href="#" class="btn layui-btn layui-btn-normal">关于我</a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget">
                            <h2>相关链接</h2>
                            <ul class="social-icon">
                                <li class="active"><a href="/article/list"><i class="fa fa-book"></i>博文</a></li>
                                <li class="active"><a href="/message/edit"><i class="fa fa-comments"></i>留言</a></li>
                                <li class="active"><a href="#"><i class="fa fa-share"></i>资源</a></li>
                                <li class="active"><a href="/diary/list"><i class="fa fa-snowflake-o"></i>日记</a></li>
                                <li class="active"><a href="#"><i class="fa fa-files-o"></i>归档</a></li>
                            </ul>                   
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                        <div class="single-widget contact">
                            <h2>联系我</h2>
                            <ul class="list">
                                <li><i class="fa fa-map"></i>地址:湖北省武汉市</li>
                                <li><i class="fa fa-qq"></i>QQ: 3226811965 </li>
                                <li><i class="fa fa-envelope"></i>邮箱: 3226811965@qq.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 text-center">
                        <p>Copyright &copy; 2019-2020 Lee's Blog All Rights Reserved V.5.1.3 粤ICP备1231100号</p>
                    </div>
                </div>
            </div>
        </div>  
    </footer>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>