.container{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    font-size: 14px;
}
.layui-input{
    width: 350px;
    height: 40px;
    font-size: 14px;
    margin-top: 15px;
}
.layui-form-item{
    margin-left: 25px;
}
.layui-btn{
    width: 350px;
    height: 40px;
    margin-top: 25px;
    font-size: 15px;
}
.layui-form-checkbox[lay-skin=primary] {
    height: auto!important;
    line-height: normal!important;
    border: none!important;
    margin-right: 30ox;
    margin-left: 40px;
    padding-right: 0;
    background: 0 0;
}
.bg-container {
    position: relative;
    transition: all .2s;
    min-height: 100vh;
    background: url(../image/33.jpg) fixed center center;
}
.login-title {
    font-size:16px;
    font-weight: bolder;
    text-align: center;
}
.captcha-input {
    margin-right: auto;
}
.layui-nav {
    position: relative;
    padding: 0 20px;
    background-color: #fff;
    color: #393D49;
    border-radius: 2px;
    font-size: 0;
    box-sizing: border-box;
}