{{ define "admin/blogs.html" }}
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理</title>
  <link href="../../../static/images/me.jpg" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../../static/css/me.css">
</head>

<body>

  <!--导航栏-->
  <nav class="ui inverted gird-header">
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui olive header item" style="font-family: STSong">管理后台</h2>
        <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>文章管理</a>
        <a href="#" class=" m-item item m-mobile-hide"><i class="clone outline icon"></i>分类管理</a>
        <a href="#" class=" m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友链管理</a>
        <a href="#" class=" m-item item m-mobile-hide"><i class="image icon"></i>相册管理</a>
        <div class="right m-item m-mobile-hide menu">
          <div class="ui dropdown  item">
            <div class="text">
              <img class="ui avatar image" src="../../../static/images/me.jpg">
              <span>oneStar</span>
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="#" class="item">注销</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
  <div class="m-padded-tb-hugex">
    <div class="ui attached pointing menu">
      <div class="ui container">
        <div class="right menu">
          <a href="/blog/edit" class="item">发布</a>
          <a href="/blog/list" class="teal active item">列表</a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <!--中间内容-->
  <div class="">
    <div class="ui container">
      <div class="ui secondary segment form">
        <input type="hidden" name="page">
        <div class="inline fields">
          <div class="field">
            <input type="text" name="title" id="title" placeholder="标题" value="{{.title}}">
          </div>
          <div class="field">
            <div class="ui labeled action input">
              <div class="ui type selection dropdown">
                <input type="hidden" name="type" id="type" value="{{.type}}">
                <i class="dropdown icon"></i>
                <div class="default text">分类</div>
                <div class="menu">
                  {{range .types}}
                  <div class="item" data-value="{{.Name}}">{{.Name}}</div>
                  {{end}}
                </div>
              </div>
              <button id="clear-btn" class="ui compact button" onclick="clear()">clear</button>
            </div>

          </div>
          <div class="field">
            <button type="button" id="search-btn" class="ui mini teal basic button" onclick="search()"><i
                class="search icon"></i>搜索</button>
          </div>
        </div>
      </div>
      <div id="table-container">
        <table class="ui compact teal table">
          <thead>
            <tr align="center">
              <th>ID</th>
              <th>标题</th>
              <th>类型</th>
              <th>标签</th>
              <th>点赞数</th>
              <th>更新时间</th>
              <th>操作</th>
            </tr>
          </thead>
          {{range .blogs}}
          <tbody>
            <tr align="center">
              <td>{{.Id}}</td>
              <td>{{.Title}}</td>
              <td>{{.Type}}</td>
              <td>{{.Tag}}</td>
              <td>{{.LikeCount}}</td>
              <td>2020-01-02 05:20</td>
              <td>
                <a href="/blog/edit/{{.Id}}" class="ui mini teal basic button">编辑</a>
                <a href="/blog/delete/{{.Id}}" class="ui mini red basic button">删除</a>
              </td>
            </tr>
          </tbody>
          {{end}}
          <tfoot>
            <tr>
              <th colspan="7">
                <div class="ui inverted divided stackable grid">
                  <div class="three wide column" align="center">
                    {{if ne .page 1}}
                    <a class="item" href="/blog/list/?index={{.pre}}&title={{.title}}&type={{.type}}">上一页</a>
                    {{end}}
                  </div>

                  <div class="ten wide column" align="center">
                    <p>第 <span>{{.page}}</span> 页，共 <span>{{.total}}</span> 页，有 <span>{{.count}}</span> 篇文章</p>
                  </div>

                  <div class="three wide column" align="center">
                    {{if ne .page .total}}
                    <a class="item" href="/blog/list/?index={{.page}}&title={{.title}}&type={{.type}}">下一页</a>
                    {{end}}
                  </div>
                </div>
                <div align="center">
                  <a href="#">
                    <button type="button" class="ui teal button m-mobile-wide m-margin-top" onclick="add()"><i
                        class="pencil icon"></i>新增</button>
                  </a>
                </div>
              </th>
            </tr>
          </tfoot>
        </table>

        <div class="ui success message">
          <i class="close icon"></i>
          <div class="">提示：操作成功！</div>
        </div>
        <!-- 成功 -->
        <div class="ui success message" style="display: none;" id="success">
          <div class="header">
            删除成功！
          </div>
          <p>页面刷新中。。。</p>
        </div>
        <!-- 失败 -->
        <div class="ui error message" style="display: none;" id="error">
          <div class="header" id="errorMsg">
            您提交的一些错误
          </div>
          <p>请重试！</p>
        </div>

        <!-- 查询失败的提示信息 -->
        {{if .error}}
        <div class="ui error message">
          <div class="header">
            {{.error}}
          </div>
          <p>请重试！</p>
        </div>
        {{end}}

      </div>

    </div>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <!--底部栏-->
  <footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <!--容器-->
    <div class="ui center aligned container">
      <div class="ui inverted divided stackable grid">
        <div class="four wide column">
          <div style="font-size: large;font-weight: bold"
            class="ui inverted m-text-thin m-text-spaced m-margin-top-max">联系我</div>
          <div class="ui inverted link list">
            <div href="#" class="m-text-thin">Email：onestarlr@hotmail.com</div>
            <div href="#" class="m-text-thin">QQ：316392836</div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui inverted link list">
            <div class="item">
              <!--微信二维码-->
              <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">关注公众号</div>
              <img src="../../../static/images/oneStar.jpg" class="ui m-margin-top rounded image" alt=""
                style="width: 110px">
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui inverted link list">
            <div class="item">
              <!--微信二维码-->
              <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">问题交流（QQ群）
              </div>
              <img src="../../../static/images/QQ-question.jpg" class="ui m-margin-top rounded image" alt=""
                style="width: 110px">
            </div>
          </div>
        </div>
        <!--博客运行时间统计-->
        <div class="four wide column">
          <div style="font-size: large;font-weight: bold" class="ui inverted  m-text-thin m-text-spaced m-margin-top">
            客栈信息</div>
          <!--<p id="htmer_time" class="item m-text-thin"></p>-->
          <div id="blog-message">
            <div class="ui inverted link list" style="align-content: center;margin-top: 10px">
              <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"> 14 </h2>
                篇
              </div>
              <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"> 14 </h2>
                次
              </div>
              <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"> 14 </h2>
                条
              </div>
              <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"> 14 </h2>
                条
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span
          id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>
      <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备20004408号-1</a>
    </div>
    </div>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script src="../../../static/js/info.js"></script>
  <script src="../../../static/js/footer.js"></script>
  <script src="../../../static/js/admin/blogs.js"></script>
</body>

</html>
{{end}}