{{define "user/about.html"}}
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anoduo-关于我</title>
    <link href="../../static/images/me.jpg" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">
</head>

<body>

    <!--导航-->
    <nav class="gird-header">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui olive header item" style="font-family: STSong">anoduo</h2>
                <a href="/" class="m-item item m-mobile-hide "><i class="home icon"></i>首页</a>
                <a href="/blog/list/type" class="m-item item m-mobile-hide"><i class="clone outline icon"></i>分类</a>
                <a href="/archives" class="m-item item m-mobile-hide"><i class="clock icon"></i>时间轴</a>
                <a href="/comment/0" class="m-item item m-mobile-hide"><i class="book icon"></i>留言板</a>
                <a href="/link" class="m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友链</a>
                <a href="/picture" class="m-item item m-mobile-hide"><i class="image icon"></i>照片墙</a>
                <a href="/about" class="active m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <!--</div>-->
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search...." id="query">
                        <i onclick="search()" class="search link icon"></i>
                    </div>
                </div>
                <!-- 用户信息 -->
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown  item">
                        <div class="text">
                            <img class="ui avatar image" src="../../../static/images/me.jpg" id="yonghu_img">
                            <span id="yonghu_name">未登录</span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/admin" class="item" id="yonghu_admin" style="display: none;">进入后台</a>
                            <a href="/login" class="item" id="yonghu_href">登录</a>
                        </div>
                    </div>
                </div>
                <!-- 用户信息 -->
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>


    <!--顶部背景图片-->
    <div class="m-bg-type_outer" style="width: 100%;height: 40%">
        <img src="../../static/images/aboutbg.jpg" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
        <div class="m-bg-class_cover">
            <div class="ui container" style="position: relative ;bottom: -540px;">
                <div class="m-font-size-title" align="center" style="font-family:'STXingkai'">关于我</div>
                <div class="m-font-size-text-init-title m-margin-top" align="center">如果你总是让人踩过你的头，你永远都不会得到你想要的东西</div>
            </div>
        </div>
    </div>

    <!--个人资料描述-->
    <div class="ui container m-opacity box-shadow-max">
        <div class="ui segment m-margin-" align="center">
            <div class="m-margin-top-large" align="center">
                <img class="ui circular image" align="center" src="../../static/images/me.jpg"
                    style="width: 150px;height: 150px;">
            </div>
            <div class="m-margin-top-small" style="font-size: x-large;font-family: STSong" align="center">anoduo</div>

            <div class="m-margin-top" align="center">
                <a href="#" class="ui tencent circular icon button"><i class="user icon"></i></a>
                <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                <a href="#" class="ui qq circular icon button" data-content="767440849" data-position="bottom center"><i
                        class="qq icon"></i></a>
                <a href="https://github.com/anoduo-github" target="_blank" class="ui github circular icon button"
                    data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
                <a href="https://gitee.com/anoduo" target="_blank" class="ui github circular icon button"
                    data-content="点击跳转码云" data-position="bottom center"><i class="zi zi_tmGitee"></i></a>
                <a href="https://blog.csdn.net" target="_blank" class="ui csdn circular icon button"
                    data-content="点击跳转CSDN" data-position="bottom center"><i class="copyright outline icon"></i></a>
                <a href="#" class="ui email circular icon button" data-content="767440849@qq.com"
                    data-position="bottom center"><i class="envelope  icon"></i></a>
            </div>

            <div class="ui tencent-qr flowing popup transition hidden">
                <img src="../../static/images/oneStar.jpg" alt="" class="ui rounded image" style="width: 110px">
                <div align="center">公众号</div>
            </div>
            <div class="ui wechat-qr flowing popup transition hidden">
                <img src="../../static/images/oneStarWechat.jpg" alt="" class="ui rounded image" style="width: 110px">
                <div align="center">微信</div>
            </div>
            <div class="ui qq-qr flowing popup transition hidden">
                <img src="../../static/images/qq.jpg" alt="" class="ui rounded image" style="width: 110px">
                <div align="center">QQ</div>
            </div>
            <hr class="m-margin-top-small" style="width: 30%">
            <br>
            <div>
                <p>97年 双子男</p>
                <p>处在互联网时代浪潮的转型者</p>
                <p>非科班程序员</p>
                <p>老本行机械</p>
                <p>先后从事过java,golang的工作</p>
                <p>从未停下脚步</p>
                <p>从未放下心中的目标</p>
                <p>时时刻刻去追寻</p>
                <p>终有一天要实现</p>
                <p>是个混子，天天就是混，不混难受</p>
                <p>生命不息，摸鱼不止</p>
                <p>不能让领导看到。。。</p>
            </div>
            <hr class="m-margin-top-large">
            <br>
            <h2 class="m-margin-tb-tiny"
                style="font-size: xx-large;font-weight: bold;color: #F08047;font-family: STSong">打赏本站</h2>
            <div class="ui orange basic label m-margin-tb-tiny">
                <p style="font-size: medium">提到钱任何人都没有是非对错，海绵宝宝，
                    但重点是有没有情义、道德</p>
            </div>
            <br>
            <div class="ui orange basic label">
                <div class="ui images" style="font-size: inherit !important;">
                    <div class="image">
                        <img src="../../static/images/zhifupay.jpg" alt="" class="ui rounded bordered image"
                            style="width: 180px">
                        <div>支付宝</div>
                    </div>
                    <div class="image">
                        <img src="../../static/images/wechatpay.jpg" alt="" class="ui rounded bordered image"
                            style="width: 180px">
                        <div>微信</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <!--底部栏-->
    <footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
        <!--容器-->
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="four wide column">
                    <div style="font-size: large;font-weight: bold"
                        class="ui inverted m-text-thin m-text-spaced m-margin-top-max">联系我</div>
                    <div class="ui inverted link list">
                        <div href="#" class="m-text-thin">Email：767440849@qq.com</div>
                        <div href="#" class="m-text-thin">QQ：767440849</div>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <!--微信二维码-->
                            <div style="font-size: large;font-weight: bold"
                                class="ui inverted m-text-thin m-text-spaced ">关注公众号</div>
                            <img src="../../static/images/oneStar.jpg" class="ui m-margin-top rounded image" alt=""
                                style="width: 110px">
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <!--微信二维码-->
                            <div style="font-size: large;font-weight: bold"
                                class="ui inverted m-text-thin m-text-spaced ">问题交流（QQ群）</div>
                            <img src="../../static/images/QQ-question.jpg" class="ui m-margin-top rounded image" alt=""
                                style="width: 110px">
                        </div>
                    </div>
                </div>
                <!--博客运行时间统计-->
                <div class="four wide column">
                    <div style="font-size: large;font-weight: bold"
                        class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息</div>
                    <div id="blog-message">
                        <div class="ui inverted link list" style="align-content: center;margin-top: 10px">
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                                文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="blog_count"> 0 </h2> 篇
                            </div>
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                                访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="view_count"> 0 </h2> 次
                            </div>
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                                评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="comment_count"> 0 </h2> 条
                            </div>
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                                留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="message_count"> 0 </h2> 条
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span
                    id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>
        </div>
        </div>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../../static/js/footer.js"></script>
    <script src="../../static/js/search.js"></script>

    <script>
        // 显示公众号
        $('.tencent').popup({
            popup: $('.tencent-qr'),
            position: 'bottom center'
        });

        // 显示微信
        $('.wechat').popup({
            popup: $('.wechat-qr'),
            position: 'bottom center'
        });

        // 显示QQ
        $('.qq').popup({
            popup: $('.qq-qr'),
            position: 'bottom center'
        });

        // 显示邮箱
        $('.email').popup();

        // 显示CSDN
        $('.csdn').popup();

        // 显示github
        $('.github').popup();
    </script>
</body>

</html>
{{end}}