{{ define "user/index.html" }}
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anoduo's Blog-首页</title>

    <link href="../../static/images/me.jpg" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">

</head>

<body>

    <!--导航-->
    <nav id="nav" class="gird-header" style="display: none">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui olive header item" style="font-family: STSong">anoduo</h2>
                <a href="/" class="active m-item item"><i class="home icon"></i>首页</a>
                <a href="/blog/list/type" class="m-item item"><i class="clone outline icon"></i>分类</a>
                <a href="/archives" class="m-item item"><i class="clock icon"></i>时间轴</a>
                <a href="/comment/0" class="m-item item"><i class="book icon"></i>留言板</a>
                <a href="/link" class="m-item item"><i class="pencil alternate icon"></i>友链</a>
                <a href="/picture" class="olive m-item item"><i class="image icon"></i>照片墙</a>
                <a href="/about" class="m-item item"><i class="info icon"></i>关于我</a>
                <div class="right m-item item">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search...." id="query">
                        <i onclick="search()" class="search link icon"></i>
                    </div>
                </div>
                <!-- 用户信息 -->
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown  item">
                        <div class="text">
                            <img class="ui avatar image" src="../../../static/images/me.jpg" id="yonghu_img">
                            <span id="yonghu_name">未登录</span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/admin" class="item" id="yonghu_admin" style="display: none;">进入后台</a>
                            <a href="/login" class="item" id="yonghu_href">登录</a>
                        </div>
                    </div>
                </div>
                <!-- 用户信息 -->
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-hide" style="display: none">
            <i class="sidebar icon"></i>
        </a>
    </nav>




    <!--顶部图片-->
    <div class="m-bg-class_outer" style="width: 100%;height: 750px">
        <img src="../../static/images/bg.jpg" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
        <div class="m-bg-class_cover" align="center">
            <div class="m-margin-top-maxx" align="center">
                <img class="ui circular image" align="center" src="../../static/images/me.jpg"
                    style="width: 150px;height: 150px;">
            </div>
            <div class="m-font-size-title-large" align="center">anoduo</div>
            <div class="" align="center">
                <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                <a href="#" class="ui qq circular icon button"><i class="qq icon"></i></a>
                <a href="https://github.com/anoduo-github" target="_blank" class="ui github circular icon button"
                    data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
                <a href="https://gitee.com/anoduo" target="_blank" class="ui github circular icon button"
                    data-content="点击跳转码云" data-position="bottom center"><i class="zi zi_tmGitee"></i></a>
                <a href="https://blog.csdn.net" target="_blank" class="ui csdn circular icon button"
                    data-content="点击跳转CSDN" data-position="bottom center"><i class="copyright outline icon"></i></a>
                <a href="#" class="ui email circular icon button" data-content="767440849@qq.com"
                    data-position="bottom center"><i class="envelope  icon"></i></a>
            </div>
            <div class="ui wechat-qr flowing popup transition hidden">
                <img src="../../static/images/oneStarWechat.jpg" alt="" class="ui rounded image" style="width: 110px">
                <div align="center">微信</div>
            </div>
            <div class="ui qq-qr flowing popup transition hidden">
                <img src="../../static/images/qq.jpg" alt="" class="ui rounded image" style="width: 110px">
                <div align="center">QQ</div>
            </div>
            <h3 class="m-font-size-text" align="center">你好，这里是未被发现的天才的家</h3>
            <hr style="width: 30%">
            <h5 class="m-font-size-text-init-title m-margin-top-large">“如果你总是让人踩过你的头，你永远都不会得到你想要的东西”</h5>
            <h5 class="m-font-size-text-init-title">“你可以是一本打开的书，海绵宝宝，但我要比那复杂点儿”</h5>
            <h5 class="m-font-size-text-init-title">“生活就是一桶木头屑”</h5>
            <h5 class="m-font-size-text-init-title">“我准备好了”</h5>
            <div id="waypoint" class="ui m-margin-top-large" align="center">
                <a href="/" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i
                        class="home icon"></i>首页</a>
                <a href="/blog/list/type"
                    class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i
                        class="clone outline icon"></i>分类</a>
                <a href="/archives"
                    class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i
                        class="clock icon"></i>时间轴</a>
                <a href="/comment/0"
                    class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i
                        class="book icon"></i>留言板</a>
                <a href="/link" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i
                        class="pencil alternate icon"></i>友人帐</a>
                <a href="/picture"
                    class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i
                        class="image icon"></i>照片墙</a>
                <a href="/about"
                    class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i
                        class="info icon"></i>关于我</a>
            </div>
            <div class="hiddenDiv"></div>
        </div>

    </div>



    <!--最新推荐-->
    <div class="ui m-padded-tb-large">
        <div class="ui m-container-small m-opacity">
            <div class="ui secondary segment " align="center">
                <i class="bookmark icon"></i>最新推荐
            </div>
        </div>
        <div class="ui stackable m-container-mini m-opacity grid">
            <!-- 默认上限推荐4篇 -->
            {{range .recommends}}
            <div class="m-margin-tb-tiny four wide column">
                <a href="/blog/details/{{.Id}}" class="class_outer" target="_blank">
                    <img src="{{.Pircture}}" alt="" class="ui rounded image">
                    <span class="class_cover">
                        <h4 class="m-font-size-blog-text m-margin-tb-tiny">{{.Title}}</h4>
                    </span>
                </a>
            </div>
            {{end}}
        </div>
    </div>


    <!--中间内容-->
    <div class="m-padded-tb-big animated fadeIn">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--博客内容-->
                <div class="ui vertical segment">
                    <div class="ui m-container-small m-opacity">
                        <div class="ui secondary segment " align="center">
                            <i class="bookmark icon"></i>最新文章
                        </div>
                    </div>
                    <!--博文列表-->
                    <div class="ui padded segment m-padded-tb-large m-opacity">
                        <div class="ui large aligned mobile reversed stackable grid">
                            <!--博文信息-->
                            {{range .blogs}}
                            <div class="eleven wide column ">
                                <h3 class="ui header"><a href="/blog/details/{{.Id}}" target="_blank"
                                        class="m-black">{{.Title}}</a></h3>
                                <p class="m-text m-margin-top-max">{{.Description}}</p>
                                <div class="ui m-margin-top-max grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="../static/images/me.jpg" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" target="_blank"
                                                        class="header">{{.Author}}</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span>{{.UpdateDate}}</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> <span>{{.ViewCount}}</span>
                                            </div>
                                            <div class="item">
                                                <i class="comment outline icon"></i> <span>{{.CommentCount}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="/blog/list/type?index=0&type={{.Type}}" target="_blank"
                                            class="ui teal basic label m-padded-tiny m-text-thin">{{.Type}}</a>
                                    </div>
                                </div>
                            </div>
                            <!--博文图片-->
                            <div class="five wide column">
                                <a href="/blog/details/{{.Id}}" target="_blank">
                                    <img src="{{.Pircture}}" alt="" class="ui rounded image">
                                </a>
                            </div>
                            {{end}}

                        </div>
                    </div>
                </div>
                <!--分页-->
                <div class="ui bottom attached segment m-opacity stackable grid">
                    <div class="three wide column" align="center">
                        {{if ne .page 1}}
                        <a class="item" href="/?index={{.pre}}">上一页</a>
                        {{end}}
                    </div>

                    <div class="ten wide column" align="center">
                        <p> <span>{{.page}}</span> / <span>{{.total}}</span> </p>
                    </div>

                    <div class="three wide column" align="center">
                        {{if ne .page .total}}
                        <a class="item" href="/?index={{.page}}">下一页</a>
                        {{end}}
                    </div>
                </div>

            </div>
        </div>

    </div>


    <!--置顶图标-->
    <div class="m-padded-tb-large m-fixed m-right-bottom">
        <a href="#" class="ui icon button"><i class="chevron up icon"></i> </a>
    </div>

    <!-- 查询失败的提示信息 -->
    {{if .error}}
    <div class="ui error message">
        <div class="header">
            {{.error}}
        </div>
        <p>请重试！</p>
    </div>
    {{end}}



    <br>
    <br>
    <br>
    <!--底部栏-->
    <footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
        <!--容器-->
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="four wide column">
                    <div style="font-size: large;font-weight: bold"
                        class="ui inverted m-text-thin m-text-spaced m-margin-top-max">联系我</div>
                    <div class="ui inverted link list">
                        <div href="#" class="m-text-thin">Email：767440849@qq.com</div>
                        <div href="#" class="m-text-thin">QQ：767440849</div>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <!--微信二维码-->
                            <div style="font-size: large;font-weight: bold"
                                class="ui inverted m-text-thin m-text-spaced ">关注公众号</div>
                            <img src="../static/images/oneStar.jpg" class="ui m-margin-top rounded image" alt=""
                                style="width: 110px">
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <!--微信二维码-->
                            <div style="font-size: large;font-weight: bold"
                                class="ui inverted m-text-thin m-text-spaced ">问题交流（QQ群）</div>
                            <img src="../static/images/QQ-question.jpg" class="ui m-margin-top rounded image" alt=""
                                style="width: 110px">
                        </div>
                    </div>
                </div>
                <!--博客运行时间统计-->
                <div class="four wide column">
                    <div style="font-size: large;font-weight: bold"
                        class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息</div>
                    <div id="blog-message">
                        <div class="ui inverted link list" style="align-content: center;margin-top: 10px">
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                                文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="blog_count"> 0 </h2> 篇
                            </div>
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                                访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="view_count"> 0 </h2> 次
                            </div>
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                                评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="comment_count"> 0 </h2> 条
                            </div>
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                                留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="message_count"> 0 </h2> 条
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span
                    id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>
            <!-- <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备20004408号-1</a> -->
        </div>
        </div>

    </footer>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../../static/lib/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../static/js/info.js"></script>
    <script src="../../static/js/footer.js"></script>
    <script src="../../static/js/search.js"></script>
    <script src="../../static/js/user/index.js"></script>
</body>

</html>
{{end}}