{{define "user/picture.html"}}
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anoduo-照片墙</title>
    <link href="../../static/images/me.jpg" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <link rel="stylesheet" href="../../static/lib/picture/css/jkresponsivegallery.css">
</head>

<body>

    <!--导航-->
    <nav class="gird-header">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui olive header item" style="font-family: STSong">anoduo</h2>
                <a href="/" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="/blog/list/type" class="m-item item m-mobile-hide"><i class="clone outline icon"></i>分类</a>
                <a href="/archives" class="m-item item m-mobile-hide"><i class="clock icon"></i>时间轴</a>
                <a href="/comment/0" class="m-item item m-mobile-hide"><i class="book icon"></i>留言板</a>
                <a href="/link" class="m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友人帐</a>
                <a href="/picture" class="active m-item item m-mobile-hide"><i class="image icon"></i>照片墙</a>
                <a href="/about" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <!--</div>-->
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search...." id="query">
                        <i onclick="search()" class="search link icon"></i>
                    </div>
                </div>
                <!-- 用户信息 -->
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown  item">
                        <div class="text">
                            <img class="ui avatar image" src="../../../static/images/me.jpg" id="yonghu_img">
                            <span id="yonghu_name">未登录</span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/admin" class="item" id="yonghu_admin" style="display: none;">进入后台</a>
                            <a href="/login" class="item" id="yonghu_href">登录</a>
                        </div>
                    </div>
                </div>
                <!-- 用户信息 -->
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--顶部图片-->
    <div class="m-bg-type_outer" style="width: 100%;height: 40%">
        <img src="../../static/images/picturebg.jpg" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
        <div class="m-bg-class_cover">
            <div class="ui container" style="position: relative ;bottom: -540px;">
                <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">照片墙</div>
                <div class="m-font-size-text-init-title m-margin-top" align="center">我生下来就是为了与你相遇</div>
            </div>
        </div>
    </div>


    <!--照片墙-->
    <div id="picture-main">

        {{range .pictures}}
        <article class="thumb">
            <div class="ma5-gallery">
                <div class="rthumbnail">
                    <a href="../../{{.Address}}">
                        <img class="picture-zmki_px" src="../../{{.Address}}">
                    </a>
                    <div class="m-picture-text">{{.Name}}</div>
                    <div class="rcaption">
                        <div style="font-size: large;">{{.Name}}</div>
                        <div style="font-size: small" class="m-margin-top">{{.TimePlace}}</div>
                        <p style="font-size: small">{{.Description}}</p>
                    </div>
                </div>
            </div>
        </article>
        {{end}}

    </div>

    <!--底部栏-->
    <footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
        <!--容器-->
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="four wide column">
                    <div style="font-size: large;font-weight: bold"
                        class="ui inverted m-text-thin m-text-spaced m-margin-top-max">联系我</div>
                    <div class="ui inverted link list">
                        <div href="#" class="m-text-thin">Email：767440849@qq.com</div>
                        <div href="#" class="m-text-thin">QQ：767440849</div>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <!--微信二维码-->
                            <div style="font-size: large;font-weight: bold"
                                class="ui inverted m-text-thin m-text-spaced ">关注公众号</div>
                            <img src="../../static/images/oneStar.jpg" class="ui m-margin-top rounded image" alt=""
                                style="width: 110px">
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <!--微信二维码-->
                            <div style="font-size: large;font-weight: bold"
                                class="ui inverted m-text-thin m-text-spaced ">问题交流（QQ群）</div>
                            <img src="../../static/images/QQ-question.jpg" class="ui m-margin-top rounded image" alt=""
                                style="width: 110px">
                        </div>
                    </div>
                </div>
                <!--博客运行时间统计-->
                <div class="four wide column">
                    <div style="font-size: large;font-weight: bold"
                        class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息</div>
                    <div id="blog-message">
                        <div class="ui inverted link list" style="align-content: center;margin-top: 10px">
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                                文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="blog_count"> 0 </h2> 篇
                            </div>
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                                访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="view_count"> 0 </h2> 次
                            </div>
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                                评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="comment_count"> 0 </h2> 条
                            </div>
                            <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                                留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                    style="font-size:medium;" id="message_count"> 0 </h2> 条
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span
                    id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>
        </div>
        </div>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../../static/lib/picture/js/jquery.min.js"></script>
    <script src="../../static/lib/picture/js/jkresponsivegallery.js"></script>
    <script src="../../static/js/footer.js"></script>
    <script src="../../static/js/search.js"></script>
</body>

</html>
{{end}}